[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipython = "*"
ipykernel = "*"
tornado = "*"
rope = "*"
bleach = ">=3.1.4"

[packages]
numpy = "*"
matplotlib = "*"
natsort = "*"
bitstruct = "*"
imageio = "*"
pylint = "*"
pandas = "==0.25.3"
autopep8 = "*"

[requires]
python_version = "3.7"
